#body{
  margin:0
}
#window1{
  margin:0px 30px 40px 40px;
  box-shadow:  0 0 5px black;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: black;
  border-bottom-color: black;
  border-top-width:10px;
  border-bottom-width: 20px;
  background: white;
  padding: 20px 20px 10px 10px;
}
  #window2{
  margin: 2vh 25vw 1vh 0; */
  min-width: 300px;
  background: #ECF1F5;
  border-radius: 3.2px;
  border-color: inherit;
  max-height: 2000px;
  padding: 1vh 1vw 1vh 1vw;
}

#body h3{
  font-size: 1.3vw;
  color: red;
}
#body p1{
  font-size: 1.0vw;
  font-family:sans-serif;
}
#p2{
  margin-bottom:2vh;
  font-size: 1.0vw;
  font-family:sans-serif;
  color:red;
  font-weight: bold;
  position: absolute;
}
#myTable{
  margin: 1em 0.2em 1em 0.2em;
  border-collapse: collapse;
}
 #myTable th{
  background-color: #D3D3D3 ;
  border: 1px solid #C4CCD3;
  padding: 2px;
  width: 12em;
  text-align: left;
  font-family:sans-serif;
  font-size: 1vw;
}
#myTable td {
   border: 1px solid #C4CCD3;
   padding: 2px;
   height: 60px;
   font-family: sans-serif;
   font-size: 1.0vw

}

#button1{
  background-color: #C02E0F;
  border: none;
  color:white;
  font-size: 1.0vw;
  border-radius: 3px;
  font-family: sans-serif;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
  margin: 8vh 0 0  42vw;

}
#button2{
  background-color: #C02E0F;
  border: none;
  color:white;
  font-size: 1.0vw;
  border-radius: 3px;
  font-family: sans-serif;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
  margin-right: 0.5vw;;
}
#button3{
  background-color: #C02E0F;
  border: none;
  color:white;
  font-size: 1.0vw;
  border-radius: 3px;
  font-family: sans-serif;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
  margin-right: 0.2vw;;
}
#button4{
  background-color: #C02E0F;
  border: none;
  color:white;
  font-size: 1.0vw;
  border-radius: 3px;
  font-family: sans-serif;
  padding: 5px;
  font-weight: bold;
  display: inline-block;
  margin-right: 1vw;;
}
.textbox{
  width: 50%;
  margin-bottom: 0.2em;
  margin-top: 0.3em;
}
#result{
  color:black;
}
